<h1>Listing posts</h1>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<!-- Button trigger modal -->
  <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#postcreatemodal">
  Create a Run
</button>

<!-- Modal -->
<div class="modal fade" id="postcreatemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
     <%= render :partial => "form" %>
  </div>
</div>



