// Posts
$moss: #899A92;
$gray: #5E5F60;
$light-gray: #899A92;
// Maps
$main-text: #2d313f; // main text
$link: #d36868; // anchor tags
$background: #e7eaf0; // body background color
$map-red: #d36868; // red

